body {
    margin: 0;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas {
    border: solid 1px;
}

.pause-screen {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.6)
}

.score-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
    width: 800px;
    height: 500px;
}